@font-face {
	font-family: "Source Code Pro";
	src: url("/static/fonts/SourceCodePro-Medium.ttf");
}
code {
	font-family: "Source Code Pro";
}

.project {
	width: 512px;
	margin: 0 auto;
	margin-top: 2em;
}
.project .mdl-card__title {
	color: #fff;
	height: 200px;
}
.project .mdl-card__menu button {
	/*background-color: #ccc;*/
	border-radius: 90px;
}
.project-content > img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.project-content code {
	margin: 2em;
	border-radius: 5px 5px 5px 5px;
}