<div class="project" data-id="{{ project.pk }}">
<h2>{{ project.title }}</h2>
	{{ project.description }}<br/>
	
	It contains these figures:
	{% for figure in project.figures.all %}
		<img src="/media/{{ figure.file }}" height="80" />
	{% endfor %}
	<br>
	this is the captured image: <img src="/media/{{ project.image }}" height="200" />

	and here comes the source code:
	<pre>
	<code class="python">
{{ project.code }}
	</code>
	</pre>
	<button class="upvote-button">Up</button>
	<button class="downvote-button">Down</button>
</div>